body{
    margin: 0;
    background-color:floralwhite;
}
h2{
    text-align: center;   
}
#respostas{
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#respostas h1, p{
    padding: 20px;
}

nav{
    align-items: center;
    background-color:rgba(243, 207, 165, 0.719);
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
nav button{
    border: none;
    background-color:rgba(243, 207, 165, 0.719);
    font-size: 20pt;
    height: 8vh;
    padding:10px 40px;
    cursor:pointer;
}